.row
    .col-xs-12
        .cur-scene ?
.row
    .col-xs-12
        select(id="scene_select")
.row
    .col-xs-12
        .btn-group.btn-group-justified
            .btn-group
                button.change_scene_btn.btn.btn-xs.btn-primary(type="button") Change Scene