.row
    .col-xs-12.list_col
        input.list_input.form-control(id="list_input_1", placeholder="1")
.row
    .col-xs-12
        .btn-group.btn-group-justified
            .btn-group
                button.add_btn.btn.btn-xs.btn-primary(type="button") Add
            .btn-group
                button.update_btn.btn.btn-xs.btn-primary(type="button") Update
            .btn-group
                button.cycle_btn.btn.btn-xs.btn-primary(type="button") Cycle