.row
    .col-xs-4.npright
        input.list_input.form-control(id="lower_third_title", placeholder="Title")
    .col-xs-8.npleft
        input.list_input.form-control(id="lower_third_text", placeholder="Text")
.row
    .col-xs-12
        .btn-group.btn-group-justified
            .btn-group
                button.showhide_btn.btn.btn-xs.btn-primary(type="button") Show
            .btn-group
                button.s10_btn.btn.btn-xs.btn-primary(type="button") 10s
            .btn-group
                button.s20_btn.btn.btn-xs.btn-primary(type="button") 20s
            .btn-group
                button.s30_btn.btn.btn-xs.btn-primary(type="button") 30s