<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="style/umdsmash_overlay.css" rel="stylesheet">
    <link href="font/source_sans_pro.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="lower_third_container" class="lower_third_container">
        <div id="lower_third" class="lower_third bg-white">
          <div id="lower_third_title" class="lower_third_title"></div>
          <div id="lower_third_text" class="lower_third_text"></div>
        </div>
      </div>
    </div>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="components/textfit/textFit.min.js"></script>
    <script src="lib/SplitText.min.js"></script>
    <script src="app/umdsmash_util.js"></script>
    <script src="app/umdsmash_overlay.js"></script>
  </body>
</html>